<div class="row">
  <div class="col-xs-12">
    <h1>Brooke</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'brooke_info.png',:title => 'Brooke', :class => "img-responsive"  %>
  </div>

  <div class="col-md-8">
    <p><a href="http://www.linkedin.com/profile/view?id=138549951&locale=en_US&trk=tyah">Brooke</a> is the Social Media Manager for Kubmo.</p>
    <p>Brooke is currently living in Australia, spending a year there on a Sunshine Visa. She has a background in Technology, Arts, and Media from the University of Colorado.  Right now she is also working as a Creative Director for Lady Vagabond, and as the Brand Manager for Blooming Footprint. </p>
  </div>
</div>
