<section id="person">
    <div class="row">
      <div class="col-xs-12">
        <h1>Brooke</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'brooke_info.png',:title => 'Brooke', :class => "img-responsive"  %>
      </div>

      <div class="col-md-8">
        <p><a href="http://www.linkedin.com/profile/view?id=138549951&locale=en_US&trk=tyah">Brooke</a> is the Social Media Manager for Kubmo.</p>
        &nbsp;
          Brooke is also the Social Media and Content Manager for Vertivine, a Digital Marketing Firm based out of Denver, Colorado. She has a degree in Advertising and certificates in International Media and Technology, Arts, and Media from the University of Colorado.  </p>
      </div>
    </div>
</section>