
<div class="more_info">
	<h1>Brooke</h1>
	<%= image_tag 'brooke_info.png',:title => 'Brooke'  %>
	<div id="info_paragraph">
		<p><a href="http://www.linkedin.com/profile/view?id=138549951&locale=en_US&trk=tyah">Brooke</a> is the Social Media Manager for Kubmo.</p> 
		<p>Brooke is the Community Manager for Kubmo.
      &nbsp;
      Brooke is also the Social Media and Content Manager for Vertivine, a Digital Marketing Firm based out of Denver, Colorado. She has a degree in Advertising and certificates in International Media and Technology, Arts, and Media from the University of Colorado. </p>
		<p>The core Kubmo team will be traveling to Nairobi at the end of this year to do a follow up workshop to the first on in August.</p>
	</div>
</div>