
<div class="more_info">
	<h1>Diana</h1>
	<p id="picture">Picture of Diana</p>
	<div id="info_paragraph">
		<p>Meet Jacinta and Joan. They live in Athi River in the outskirts of Nairobi with their mother.  They are young talented ladies who like many other Kenyan girls lacked the opportunity of getting formal employment.</p> 
		<p>After struggling for so long without employment, it became difficult for the family to sustain themselves. By luck, the girls went visiting a family friend whose daughter did beading. They got interested in learning how to bead and soon, they realized they were actually really good at it.</p>

		<p>Seeing this art and talent as a way out, they decided to risk all of their little savings in buying the necessary material to start their own beading material.</p>
		 
		<p>However, they still face a lot of challenges since they lack skills necessary for running a business, and are sometimes taken advantage of, leading to huge losses. Jacinta and Joan are still holding on to their dream of opening their own curio shop to be able to take care of their mom and themselves.</p>
	</div>
</div>