
<div class="more_info">
	<h1>Brooke</h1>
	<%= image_tag 'brooke_info.png',:title => 'Brooke'  %>
	<div id="info_paragraph">
		<p><a href="http://www.linkedin.com/profile/view?id=138549951&locale=en_US&trk=tyah">Brooke</a> is the Social Media Manager for Kubmo.</p> 
		<p>Brooke is currently living in Australia, spending a year there on a Sunshine Visa. She has a background in Technology, Arts, and Media from the University of Colorado.  Right now she is also working as a Creative Director for Lady Vagabond, and as the Brand Manager for Blooming Footprint. </p>
		<p>The core Kubmo team will be traveling to Nairobi at the end of this year to do a follow up workshop to the first on in August.</p>
	</div>
</div>