<div class="more_info">
	<h1>Claudia</h1>
	<%= image_tag 'claudia_info.png',:title => 'Claudia'  %>
	<div id="info_paragraph">
		<p><a href="http://claudiabatten.com/">Claudia</a> has been the primary advisor for Kubmo from the beginning</a>
		</p>She has over 15 years of experience in the technology sector, including four years as a corporate attorney specializing in contract and technology law. Claudia was part of the founding team of Massive, a first-of-its-kind network for video game advertising that within three short years sold to Microsoft in 2006.</p> 
		<p>In late 2009 she was co-founder of Victors & Spoils, the first advertising agency built on the principles of crowsdsourcing. In early 2012, French holding company Havas bought a majority interest in the agency, positioning V&S for international expansion.</p>
		<p>She has advised companies of every shape and size, across telecommunications, banking and biotechnology, and has expert experience in intellectual property protection, e-commerce and privacy.  Claudia has partnered with advertising agencies at a strategic level, working to solve the issues that agencies face in the current economic, technological and social environment, and helping them to adapt to new models. </p>
		<p>Batten’s background gives her a grounding in genuine business savvy, while her appetite for new challenges, natural curiosity, unerring sense of timing and intuitive handle on the pulse of the industry guarantee that she will be a force to be reckoned with for years to come. </p>
	</div>
</div>