<div class="more_info">
  <h1>Diana</h1>
  <%= image_tag 'diana_info.png',:title => 'diana'  %>
  <div id="info_paragraph">
    <p>Age: 27</p>
    <p>Occupation: none</p>

    <p>Diana is a single mother of one living in Kitengela. She has studied up to secondary level, but failed to continue due to financial constraints and other family issues.  She also has a certificate in computer packages. She wants to start a business and opt out of the odd jobs she is doing.</p>
    <p>While she knows she has some computer skills, and wants to further educate herself, she has no consistent access to technology. She wants to be able to research other companies, learn on applications like Khan Academy, and be able to connect with people outside of her area.</p>
    <p>The Kubmo Workshop will be greatly beneficial to Diana because she wants to be able to support herself and her children. If she starts a successful micro-business in Kenya with computers, she will be able to make enough money to feed her children and send them to receive a quality education. With access to the internet, and a years worth of mentorship from the Kubmo team and other successful women, she will succeed.</p>
  </div>
</div>
<div id="scale_button">
  <div id="button_more_info"><%= link_to 'donate', new_donation_path %></div>
</div>
