<div class="row">
  <div class="col-xs-12">
    <h1>Diana</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'diana_info.png',:title => 'diana', :class => "img-responsive" %>
  </div>

  <div class="col-md-6">
    <p>Diana is a single mother of one living in Kitengela. She has studied up to secondary level, but failed to continue due to financial constraints and other family issues. Diana has a certificate in computer packages and hopes to start a micro-business using her computer skills.</p>
    <p>Because Kubmo provided Diana with a smartphone, she is able to use applications like Khan Academy to learn about computer programing and entrepreneurship.  After the workshop, Diana also decided to explore the idea of a business selling customized sports jerseys.  She has been very successful selling jerseys to football teams and is looking to explore a bigger market, advertising her product to school sport teams.</p>
    <p>Diana will be able to make enough money to feed her children and send them to receive a quality education. With access to the internet, and a years worth of mentorship from the Kubmo team and other successful women, she will succeed.</p>
    <p><a href="https://twitter.com/dianamwambu" target="_blank">@dianamwambu</a></p>
  </div>
</div>
