<section id="person">
<div class="row">
  <div class="col-xs-12">
    <h1>Emily</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'emily_info.png',:title => 'emily', :class => "img-responsive"  %>
  </div>

  <div class="col-md-6">
    <p>Passionate about sustainable community development, Emily founded MCDF with a mission of establishing and promoting projects and strategies that will empower and effect positive change in the community. Though she studied law, after participating in a volunteer program, Emily discovered her real passion was working with the community at the grassroots level.</p>
    <p>Venturing in a career of social change, Emily has never looked back. Through MCDF, she has managed to spearhead successful projects in health and education. Earlier in April, MCDF received three Millennium Development Goals (MDG) awards in three categories after being nominated in four. </p>
    <p>She hopes that the Biztech program will bring change in the lives of the girls who will be participating in it.</p>
  </div>
</div>
</section>
