<section id="person">
    <div class="row">
        <div class="col-xs-12">
            <h1>Emma</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <%= image_tag 'emma_info.png', :title => 'emma', :class => "img-responsive"  %>
        </div>

        <div class="col-md-6">
            <p><a href="http://www.emmalawler.com/">Emma</a> is the Designer and Frontend Developer for Kubmo. </p>
            <p>Emma has an Advertising and a Spanish degree from the University of Colorado.  She just finished a year of working and going to school at <a href="http://bdw.colorado.edu/">BDW</a>, a graduate program from CU Boulder. </p>
        </div>
    </div>
</section>
