<div class="more_info">
	<h1>Emma</h1>
	<%= image_tag 'emma_info.png',:title => 'emma'  %>
	<div id="info_paragraph">
		<p><a href="http://www.emmalawler.com/">Emma</a> is a designer and co-founder for Kubmo. </p>
    <p>Currently Emma works at <a href="http://fitstar.com/">FitStar</a>, a health and technology startup in San Francisco.</p>
		<p>She has an Advertising and a Spanish degree from the University of Colorado, along with a year of working and going to school at <a href="http://bdw.colorado.edu/">BDW</a>, a graduate program from CU Boulder. </p>
		<p>The core Kubmo team will be traveling this year to teach women and research technology.</p>
	</div>
</div>
