<div class="more_info">
	<h1>Emma</h1>
	<%= image_tag 'emma_info.png',:title => 'emma'  %>
	<div id="info_paragraph">
		<p><a href="http://www.emmalawler.com/">Emma</a> is the Designer and Frontend Developer for Kubmo. </p> 
		<p>Emma has an Advertising and a Spanish degree from the University of Colorado.  She just finished a year of working and going to school at <a href="http://bdw.colorado.edu/">BDW</a>, a graduate program from CU Boulder. </p>
		<p>The core Kubmo team will be traveling to Nairobi at the end of this year to do a follow up workshop to the first on in August.</p>
	</div>
</div>
