<div id="how">	
	<h1>How it works</h1>

	<p>The Kubmo program was created to help young women in developing countries become independent. We are starting in Nairobi, Kenya.</p>
	<p>Before applying, each young woman must have a business idea in mind, or already in action. Once a young woman is accepted into the Kubmo program, they have access to a 3-day workshop, put on by the Muthaa Community Development Foundation. During the workshop, they are given a smartphone, trained on business, finance, marketing and entrepreneurism, and given guidance on how to move forward with their business plan.</p>
	<p>For the year following the workshop, each Kubmo entrepreneur has a mentor in Kenya and a peer mentor in the United States. With their smartphone and a years worth of data, they are able to access to the internet, business contacts, phone applications, and online banking.</p>
	<p>Our first workshop was in August 2013, and we were able to help the entrepreneurs build on the business ideas they came into the program with. Each of the women are in constant contact with Muthaa faculty members, mentors, and fellow Kubmo women to work through their problems and form solid business plans. The women update social media regularly on how their businesses are going, as well as using Facebook and Twitter as mediums to market their businesses and stay in touch with clients. Follow them to be inspired. </p>
	<p>See a recent pitch presentation we did for Kubmo:</p>
	<iframe src="http://player.vimeo.com/video/67729219" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/67729219">Kumbo at BDW Pitchfest 2013</a> from <a href="http://vimeo.com/bdw">BDW</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

</div>
