<div id="how">	
	<h1>How it works</h1>

	<p>The Kubmo program was created to help young women in developing countries become independent.  We are starting in Nairobi, Kenya.</p>
	<p>Before applying, each young woman must have a business idea in mind, or already in action. Once a young woman is accepted into the Kubmo program, they have access to the 3-day workshop, put on by the Muthaa Community Development Foundation.  During the workshop, they will be given a smartphone, trained on business and entrepreneurism by successful entrepreneurs, and will be given guidance on how to move forward with their business plan. </p>
	<p>For the year following the workshop, each Kubmo entrepreneur will have a mentor in Kenya, and a peer mentor in the United States. They will have the smartphone given to them at the workshop, along with a years worth of data, which will allow them to have access to the internet, business contacts, phone applications, and online banking. </p>
	<p>The first workshop is in August, and will the first step towards guiding the entrepreneurs to build out the business ideas they came into the program with.  Each of them will be working with faculty members, mentors, and fellow Kubmo women to work through their problems and form a solid plan for the next year. They will be blogging and doing social media around their experience to create awareness around their idea, and inform the world of the independence they gain from the Kubmo experience. </p>
	<p>See a recent pitch presentation we did for Kubmo:</p>
	<iframe src="http://player.vimeo.com/video/67729219" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/67729219">Kumbo at BDW Pitchfest 2013</a> from <a href="http://vimeo.com/bdw">BDW</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

</div>
