<div class="more_info">
  <h1>Janet</h1>
  <%= image_tag 'janet_info.png',:title => 'janet'  %>
  <div id="info_paragraph">
    <p>Age: 26</p> 
    <p>Occupation: Student Artist</p> 
    <p>Janet is working with her aunt in weaving and selling mats. This opportunity allows her to save enough and put herself through school. </p>

    <p>She wants to work hard and make their business a household name, and be able to sell her creations to the international market. She is hoping this will give her the financial independence she needs to move away from the poor living conditions she is currently in.</p>

    <p>She needs access to the internet to become further educated in her craft, and to connect with international marketplaces where she can buy and sell products for her business. She envisions her venture growing far past where it currently is, but needs more guidance on how exactly to make it happen. </p>
  </div>
</div>
