<div class="more_info">
  <h1>Jahnet</h1>
  <%= image_tag 'janet_info.png',:title => 'janet'  %>
  <div id="info_paragraph"> 
    <p>Meet Jahnet. In order to put herself through school and gain financial independence, Jahnet started a business weaving and selling floor mats.  She hopes to make her business, I.Create, a household name and sell her mats to the international market.</p>
    <p>The Biztech workshop taught Janet how to market I.Create and make it a sustainable business. With her new smartphone, Janet is able to use social media as a key tool to advertise, gain new clients and grow her business.</p>
    <p>After the workshop, Jahnet decided to train her cousins on how to weave mats so that she can be able to take more jobs. Janet is making strides and is hoping to double her profits by the end of the month and break into the international market within 6 months. </p>
    <p><a href="https://twitter.com/JTnamu" target="_blank">@JTnamu</a></p>
    <p><a href="https://www.facebook.com/pages/ICreate/175419829312222" target="_blank">Facebook</a></p>
  </div>
</div>
