<section id="person">
<div class="row">
  <div class="col-xs-12">
    <h1>Jecinta and Joan</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'jacinta_joan_info.png',:title => 'jacinta and joan', :class => "img-responsive"  %>
  </div>

  <div class="col-md-6">
    <p>Meet Jecinta and Joan.  They live in Athi River in the outskirts of Nairobi with their mother. They are young talented ladies who like many other Kenyan girls lacked the opportunity of getting formal employment.  Seeing their talent as a way out, they decided to risk all of their little savings in buying the necessary materials to start their own beading business.</p>
    <p>After the workshop, their beading business has flourished into Gifted Arts by J & J, selling all types of customised jewelry, sandals, table mats, and jewelry holders, made out of environmentally friendly products. They are using their new smartphones to photograph and market their products through social media and keep in touch with customers and mentors. </p>
    <p>Jecinta and Joan are very motivated young women and have built their business on honesty and reliability.  The girls hope to open a curio shop in Nairobi in the next six months and eventually grow their business to employ twenty young women. </p>
    <p><a href="https://twitter.com/AcholaJoan" target="_blank">@AcholaJoan</a></p>
    <p><a href="https://twitter.com/awinojecinta" target="_blank">@awinojecinta</a></p>
    <p><a href="https://www.facebook.com/pages/Gifted-Arts-by-J-J/480105888751802" target="_blank">Facebook</a></p>
  </div>
</div>
</section>
