<section id="person">
<div class="row">
  <div class="col-xs-12">
    <h1>John</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'weiss_info.png',:title => 'john', :class => "img-responsive"  %>
  </div>

  <div class="col-md-6">
    <p><a href="http://about.me/johnweiss">John</a> is an advisor for Kubmo.</p>
    <p>John strives to create experiences that help individuals be human to the fullest, create lasting relationships, and shape the future. Over his fourteen year career, John has done this for large brands like Disney, BMW, Microsoft, Amazon and GE, and has built and led high performing design teams as the Executive Creative Director at WebMD Health Solutions, Experience Director at Ascentium, and Director, Experience Design at Waggener Edstrom. He founded FiveEdge Media, a Portland/Seattle based Experience Design agency that was sold to InnerEcho in 2008. John has shared his passion for design by co-founding Refresh Portland, as a contributing lecturer at the University of Oregon, speaking at design conferences, and most recently by joining the faculty at BDW.</p>

    <p>John's work is guided by purpose, passion, simplicity, beauty, innovation and surprise.</p>
  </div>
</div>
</section>
