<div class="more_info">
	<h1>John</h1>
	<%= image_tag 'weiss_info.png',:title => 'john'  %>
	<div id="info_paragraph">
		<p><a href="http://about.me/johnweiss">John</a> is an advisor for Kubmo.</p> 
		<p>He is currently the Design Director for Snapshot Group, and is on the core faculty at BDW, a postgraduate program at the University of Colorado.  In the past, he worked as a designer at WebMD, Ascentium, and Waggener Edstrom. He also founded a company called FiveEdge Media.</p>
	</div>
</div>