<div class="more_info">
  <h1>Joy</h1>
  <%= image_tag 'joy_info.png',:title => 'joy'  %>
  <div id="info_paragraph">
    <p>Joy’s educational journey was cut short after secondary school because of family constraints, which led her to moving from her home in Kitale to Kitengela in search of freedom. She says she started doing odd jobs after she found it impossible to get a job to sustain her. Her end goal is to start a business of selling cereals.</p> 

    <p>She already has a business plan as to how she wants her business to run, but she does not have the skills or technology to move forward with her idea.  She is excited to take part in the Kubmo program to have mentors guide her through the process of starting her business. </p>

    <p>Joy will use her smartphone package to have access to banking applications, take business courses online, and connect with her future business partners. She will also have access to Skype on her phone, so she can be in constant contact with her mentors who will be helping her through the process.</p>
  </div>
</div>
