<div class="more_info">
  <h1>Joy</h1>
  <%= image_tag 'joy_info.png',:title => 'joy'  %>
  <div id="info_paragraph">
    <p>Joy's educational journey was cut short after secondary school due to family constraints. In search of freedom, Joy moved to Kitengela and worked odd jobs to sustain herself.  She decided she wanted to start selling cereals and applied to take part in the Biztech workshop to learn the skills she needed to run a successful business. </p> 

    <p>Kubmo gave Joy access to mobile technology, so she is able to use banking applications, take business courses online and connect with possible business partners.  In order to raise capital for her company, Joy started another small business selling branded t-shirts to soccer fans.</p>

    <p>Joy is working on developing her business plans with her mentors and is excited to get her cereal business going this harvest season.  She will be buying cereal in the village, and selling it to businesses in Nairobi. </p>

    <p><a href="https://twitter.com/JnJoyline" target="_blank">@JnJoyline</a></p>
  </div>
</div>
