<div class="more_info">
  <h1>Judith</h1>
  <%= image_tag 'judith_info.png',:title => 'judith'  %>
  <div id="info_paragraph">
    <p>Age: 22</p> 
    <p>Occupation: Hair Stylist</p> 
    <p> Judith has always wanted to continue with her education after secondary. However, in her community, boys are given priority in education. She started looking for something else to do in order to contribute to her family’s income. </p>

    <p>While in high school, she realized she was talented in hair plaiting (braiding). Since she has no enough money to rent out premises for a salon, Melab plaits at her customers’ homes. Judith wants to use her talents in her business venture, but take it further than just freelancing. She would like to start her own salon, and employ other women that are similar to herself. </p>

    <p>She will be building out her business further during the workshop in August.  She will use the phone to have access to banking institutions when she takes out loans to open her shop, and to connect with clients and future employees.</p>
  </div>
</div>
