<section id="person">
<div class="row">
  <div class="col-xs-12">
    <h1>Judith</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'judith_info.png',:title => 'judith', :class => "img-responsive"  %>
  </div>

  <div class="col-md-6">
    <p> Meet Judith.  She is from Kiberia, south of Nairobi. Judith’s dream has always been to continue onto tertiary education. However, in her community, boys are given priority in education. In order to contribute to her family's income, Judith started plaiting hair in customer's homes and considered opening a salon.</p>
    <p>After the Biztech workshop, Judith did some market research and found that while there wasn't a need in her community for more salons, there was a need for cereals, grains and healthy food for business people to eat on their lunch breaks.  Judith has been selling food products to people in her neighborhood with her business Judicious Cereal and Delicious Food Supply. With her company, Judith sells home cooked meals in offices in the CBD, as the only other option is fast food. </p>
    <p>With access to a smartphone, Judith is able to market her products to a large network as well as contact her clients and receive advice from mentors.</p>
     <p><a href="https://twitter.com/JJmugami" target="_blank">@JJmugami</a></p>
  </div>
</div>
</section>
