<div class="more_info">
	<h1>Jullie</h1>
	<p id="picture">Picture of Jullie</p>
	<div id="scale">
		<div id="scale_outline"></div>
		<div id="scale_measurement"></div>
		<h2 id="base_number">$0</h2>
		<h2 id="full_amount">$200</h2>
		<div id="scale_button">
	      <div id="button_more_info"><%= link_to 'donate', new_donation_path %></div>
    	</div>
	</div>
	<div id="info_paragraph">
		<p>Age: 26</p> 
		<p>Occupation: Hair stylist</p> 
		<p>A single mother of one living in kibera, Jullie dropped out of high school due to financial constraints. She started moving from one place to another looking for plaiting jobs in order to sustain herself. Through saving, Jullie managed to rent a small room and started a salon. She hopes to grow her business so that it can be enough to sustain her and secure her son’s future, as well as move to a better neighborhood. </p>

		<p>Julie knows she has the skills to be successful, but she wants more guidance on the business side of things. Now that she has her salon, she constantly needs access to the internet to do things such as buy more supplies, connect with her clients, find new employees, and have the ability to work inside banking and organizational applications. She is also looking forward to mentorship and support from mentors in her community.</p>
	</div>
</div>
