<section id="person">
<div class="row">
  <div class="col-xs-12">
    <h1>Julie</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  <%= image_tag 'julia_info.png',:title => 'Julie', :class => "img-responsive"  %>
  </div>

  <div class="col-md-6">
    <p>A single mother of one living in Kibera, Jullie dropped out of high school due to financial constraints. She started moving from one place to another looking for plaiting jobs in order to sustain herself. Eventually, Jullie saved enough money to rent a small room and open Fine Touch Hair and Beauty Salon, providing salon services such as hair treatment, hair plaiting, manicure and pedicure and selling cosmetic items.  </p>
    <p>The Biztech workshop gave Jullie the skills she needs to run a sustainable business and keep track of her finances. With Kubmo's smartphone package, Jullie now has access to the internet to buy supplies, connect with her clients, find new employees, and work inside banking and organizational applications. </p>
    <p>The Kubmo mentorship program will give Jullie the support she needs to grow her business and secure her son’s future and move to a better neighborhood.</p>
     <p><a href="https://twitter.com/julliemma" target="_blank">@julliemma</a></p>
  </div>
</div>
</section>
