<div class="more_info">
	<h1>Diana</h1>
	<p id="picture">Picture of Diana</p>
	<div id="info_paragraph">
		<p><a href="http://www.linkedin.com/profile/view?id=81454323&locale=en_US&trk=tyah">Kinsey</a> is the CEO and Developer for Kubmo.</p> 
		<p>Kinsey graduated from the President's Leadership Class at the University of Colorado.  She is now working at thoughtbot as a developer.</p>
		<p>The core Kubmo team will be traveling to Nairobi at the end of this year to do a follow up workshop to the first on in August.</p>
	</div>
</div>