<<<<<<< HEAD
<div class="more_info">
  <h1>Kinsey Ann</h1>
  <%= image_tag 'kinsey_info.png',:title => 'Kinsey'  %>
  <div id="info_paragraph">
    <p><a href="http://www.linkedin.com/profile/view?id=81454323&locale=en_US&trk=tyah">Kinsey</a> is the CEO and Developer for Kubmo.</p>
    <p>Kinsey is a Ruby and Android developer for GoSpotCheck in Denver, Colorado. She is on the board for BridgeFoundry. She speaks at conferences around the world and loves helping people discover their passion for writing code. She loves spending time outdoors, doing yoga and being with her dog, Harleigh.</p>
  </div>
</div>
=======
<section id="person">
    <div class="row">
      <div class="col-xs-12">
        <h1>Kinsey Ann</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'kinsey_info.png',:title => 'Kinsey', :class => "img-responsive"  %>
      </div>

      <div class="col-md-6">
        <p><a href="http://www.linkedin.com/profile/view?id=81454323&locale=en_US&trk=tyah">Kinsey</a> is the CEO and Developer for Kubmo.</p>
        <p>Kinsey graduated from the President's Leadership Class at the University of Colorado with an advertising and leadership degree. She is, currently, the teaching assistant and developer for Galvanize's gSchool. She is the cordinator for Women Who Code and a Railsbridge activist. She is also an advisor for the Nairobi Dev School in Kenya. She loves spending time outdoors, doing yoga and being with her dog, Harleigh.</p>
      </div>
    </div>
</section>
>>>>>>> dc3ca3fef8b432b02fa4e1333a12da6397789f67
