<div class="more_info">
  <h1>Lorraine</h1>
  <%= image_tag 'lorrain_info.png',:title => 'Lorraine'  %>
  <div id="scale">
    <div id="scale_outline"></div>
    <div id="scale_measurement"></div>
    <h2 id="base_number">$0</h2>
    <h2 id="full_amount">$200</h2>
  </div>
  <div id="info_paragraph">
    <p>Age: 28</p> 
    <p>Occupation: Entrepreneur</p> 
    <p>After her studies in hospitality and hotel management, Lorrain was unemployed for a few years. She started brainstorming into ways she could start a venture with little capital. She began by buying eggs at a cheap price and selling it at a higher price. </p>

    <p>She also decided to try her hand at tailoring, with an old sewing machine she bought at a discounted price using her savings. Lorrain works hard to feed her two children, with the goal of one day opening her own café.  </p>

    <p>She will be building out her business idea further during the workshop in August.  She will use the phone to have access to her mentors who will guide her in the right direction with decisions having to do with her future cafe. She will also need applications to connect with banks, online payment, connect with clients, and research better products to make and sell.</p>
  </div>
</div>
