<div class="more_info">
  <h1>Laureen</h1>
  <%= image_tag 'laureen_new.jpg',:title => 'Laureen'  %>
  <div id="info_paragraph">
    <p>Meet Laureen. After her studies in hospitality, she remained unemployed for a few years. Laureen started brainstorming ways she could start a venture with little capital, and tried her hand at a few small businesses including selling eggs and tailoring. She finally came to the idea of selling tablecloths and other household items with her current business Amazing Households.  During the Biztech workshop, Laureen learned how to grow, differentiate and market Amazing Households.</p>

    <p>After the workshop, Laureen discovered there were other unexplored markets in her home area that she could venture into. She found it was difficult to shop for her three young boys and bought the first bale of second hand clothes for small boys.  Since then she used the profits to buy a second and a third.</p>

    <p>Laureen is passionate about the prospect of creating employment for others and hopes to bring at least five people on board to help with production for Amazing Households by the end of the year.   She will also continue to grow her business selling clothes for small boys with support and mentorship from Kubmo.</p>

    <p><a href="https://twitter.com/l50359184" target="_blank">@l50359184</a></p>
    <p><a href="https://www.facebook.com/amazinghouseholds" target="_blank">Facebook</a></p>
  </div>
</div>
