<div class="more_info">
<h1>Melab</h1>
	<%= image_tag 'kenya_girl_2.png',:title => 'melab'  %>
	<div id="scale">
		<div id="scale_outline"></div>
		<div id="scale_measurement"></div>
		<h2 id="base_number">$0</h2>
		<h2 id="full_amount">$200</h2>
		<div id="scale_button">
	      <div id="button_more_info"><%= link_to 'donate', new_donation_path %></div>
    	</div>
	</div>
	<div id="info_paragraph">
		<p>Age: 24</p> 
		<p>Occupation: Entrepreneur</p> 
		<p> Living in Kibera slum, Melab struggles to sustain herself by buying and selling second hand clothes “mitumba”.</p>

		<p>Finding a job is hard since she has no post-secondary skills due to lack of finances. Through the little money she gets, she struggles to put herself through short certificate courses.</p>
		 
		<p>She wants to develop her business past simply buying and selling clothes to put herself through education. While she is an extremely hard worker, she needs guidance in how to push her idea further.  She is excited to work through new ideas during the workshop in August. Melab will be using the phone package to connect with her mentors from the workshop, to take business courses online, and to use business application once her idea develops further.</p>
	</div>
</div>
