<div class="row">
  <div class="col-xs-12">
    <h1>Melab</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'melab_info.png',:title => 'melab', :class => "img-responsive"  %>
  </div>

  <div class="col-md-6">
    <p> Living in Kibera slum, Melab had trouble finding a job since she has no post-secondary skills. Before the Biztech workshop, Melab struggled to sustain herself by buying and selling "Mitumba" second hand clothes.  </p>
    <p>The most crucial skill Melab learned during the August Biztech workshop was how to retain her client base.  Melab now records the contact information of each client and uses her smartphone to keep in touch with them. Melab is having more success with her Mitumba business, as she is able to take photos of the clothing she sells and market it online. </p>
    <p>With the money she makes with her business, Melab puts herself through short certificate courses.  Through mentorship from Kubmo, access to technology, and her passion for selling clothes, Melab's business will succeed.  </p>
    <p><a href="https://twitter.com/mmrudai" target="_blank">https://twitter.com/mmrudai</a></p>
  </div>
</div>
