<div class="more_info">
	<h1>Noella</h1>
	<p id="picture">Picture of Noella</p>
	<div id="scale">
		<div id="scale_outline"></div>
		<div id="scale_measurement"></div>
		<h2 id="base_number">$0</h2>
		<h2 id="full_amount">$200</h2>
		<div id="scale_button">
	      <div id="button_more_info"><%= link_to 'donate', new_donation_path %></div>
    	</div>
	</div>
	<div id="info_paragraph">
		<p>Age: 23</p>
		<p>Occupation: Student</p> 
		<p>A single mother of one, Noella decided to sell mitumba clothes to her friends in order to cater for her finances as well as her daughters. She also wanted to offload some strain from her single ailing mother who is struggling to put her through college. She wants her business to grow big enough to sustain her and her daughter.</p>

		<p>Noella is excited to take part in the Kubmo workshop, where she will be able to work on her business plan further. She wants to develop her venture into something more complex, but is not sure what the next step is.  She also wants a way to access to other venders in the area who she may be able to collaborate with. </p>
	</div>
</div>
