<section id="person">
<div class="row">
  <div class="col-xs-12">
    <h1>Noella</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= image_tag 'noella_info.png',:title => 'Noella', :class => "img-responsive"  %>
  </div>

  <div class="col-md-6">
    <p>A single mother of one, Noella decided to start her own business, House of Nowi, to sell mitumba (Swahili for pre-loved) clothes to her friends to help support both herself and her daughter. By undertaking this new business venture Noella offloads some strain from her single ailing mother, who is struggling to put her through college. </p>
    <p>Noella was able to work on her business plan further during the August Biztech workshop. Noella has gotten in touch with reliable vendors and has opened a shop in Eldoret, where she can sell her clothes at a higher price than in Nairobi. The Kubmo smartphone package has opened a lot of opportunities for Noella as she uses Facebook to conduct business online as well as market her clothing.  Noella also uses an accounting app, Freshbooks, to create professional invoices and keep track of her finances.</p>
    <p>She wants her business to be fruitful enough alleviate her and her mother’s financial strain, and further enable Noella to support and educate her own daughter. With Noella's positive attitude and the help of Kubmo mentorship, she will succeed. </p>
    <p><a href="https://twitter.com/SakwaNoella" target="_blank">@SakwaNoella</a></p>
    <p><a href="http://www.facebook.com/HouseOfNowi" target="_blank">Facebook</a></p>
  </div>
</div>
</section>
