<section id="person">
<div class="row">
  <div class="col-xs-12">
    <h1>Winnie</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'winnie_info.png',:title => 'Winnie', :class => "img responsive"  %>
  </div>

  <div id="col-md-6">
    <p>With a degree in information sciences, Winnie decided to do something different and volunteer with an organization that works hands on with the community. That is how she found herself in MCDF. </p>
    <p>She is very passionate about girl child education, since she comes from a community where girls’ education is not considered a priority. </p>
    <p>She is very excited about the Biztech program because she knows what it means to be given an opportunity to change a life, and these girls really need that opportunity. Seeing the first ten girls from Biztech succeed in their various business ventures will be one of her greatest joys.</p>
    <p>Though disappointed that not all the girls who applied for Biztech got the opportunity, she has faith that the program will grow to be big enough to give more girls the opportunity.</p>
  </div>
</div>
</section>
