<div class="more_info">
  <h1 id="title">Donate</h1>
  <div id="donate_paragraph">
    <p>Thank you so much for your support! 100% of your donation will go to the young women in the Kubmo Program. We're working with the Muthaa Community Development Foundation in Nairobi, Kenya to put on the first workshop - August 27th through 29th. All of the money goes towards putting on the event, buying smartphones for each young woman, and paying for the mentors and faculty.</p>
    <h2>Phone package cost per participant: $114</h2>
    <h2>Accommodation cost per participant: $109</h2>
    <h2>Workshop materials per participant: $35</h2>
    <h2>Total for all participants to go through the program: $2,500</h2>
    <p>Please help us to make this possible. Every donation gives these entrepreneurs the ability to make a huge change in their lives. The workshop, and the year of mentorship gives them the chance to make a new life for themselves. It allows them to take a business idea they are passionate about, and have the support and resources to make it a reality. </p>
  </div>  
  <h4>*Kubmo is an LLC registered in the state of Colorado.</h4>
  <div id="more_button_page">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="ZYV94GVCSEU7C">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online">
    </form>
  </div>
  <div id="progress_bar">
    <div id="scale_outline"></div>
    <div id="scale_measurement"></div>
    <h3 id="base_number">$0</h3>
    <h3 id="full_amount">$2,500</h3>
  </div>
</div>
