@import "colors";

.navbar {
  img {
    margin-top: 10px;
  }

  margin-bottom: 0;
}

.container {
  background-color: white;
}

.container .jumbotron {
  border-radius: 0;
  height: 350px;
  background: asset-url("hero.png") no-repeat center center;
}

.thumbnail {
  border: none;

  img {
    margin-bottom: 20px;
  }
}

.step {
  margin-top: 20px;
}

.profile {
  width: 360px;
  height: 380px;
  position: relative;

  a {
    position:absolute;
    width: 360px;
    height: 380px;

    background-color: $grey;
    opacity:0;

    line-height: 380px;
    text-align: center;
    text-decoration:none;
    color:white;
    font-size:30px;
  }

  a:hover {
    opacity: .6;
  }

  img {
    padding: 10px;
    width: 360px;
    height: 380px;
  }
}
