/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*---Global Styles---*/
$teal: #1B9792;
$grey: #2B2727;
$light_grey: #2B2727;
$blue: #a2bcbb;
$pink: #a07098;
$ivory: #F7F5ED;
$pink: #C63D96;
$light_ivory: #FFFDF7;
$lightest_grey: #dddddd;

@import 'bourbon';

@mixin raleway() { font-family: 'Raleway', sans-serif; font-weight: 400; }
@mixin ralewayLight() { font-family: 'Raleway', sans-serif; font-weight: 200; }
@mixin ralewayMedium() { font-family: 'Raleway', sans-serif; font-weight: 500; }
@mixin ralewaySemi() { font-family: 'Raleway', sans-serif; font-weight: 600; }
@mixin ralewayBold() { font-family: 'Raleway', sans-serif; font-weight: 800; }
@mixin ralewayExtraLight() { font-family: 'Raleway', sans-serif; font-weight:100; }
body { @include raleway(); min-width: 1050px; }

.body	{
	width:1249px;
	margin: 0 auto;
	border:solid $lightest_grey 1px;
	height:3955px;
	@include  box-shadow(0 0 4px 2px hsla(0, 0%, 0%, 0.30));

	#top_nav {
		width:1250px;
		background:white;
		text-transform:uppercase;
		font-size:16px;
	}

		.main {
			list-style-type:none;
			float:left;
			
			li {
				float:left;
				list-style-type:none;
			}
			
			a {
				margin:33px 0 0 20px;
				display: block;
				text-decoration:none;
				color:black;
			}

			a:hover,
			a.active {
				color:$teal;
			}

			a:active {
				color:$teal;
			}
		}

		.line {
			margin-top:33px;
			margin-left:20px;
		}

		.donate {
			list-style-type:none;
			float:left;

			li {
				list-style-type:none;
			}

			a {
				text-decoration:none;
				color:$ivory;
				margin:15px 0 0 30px;
				display: block;
				background-color:$pink;
				font-size:16px;
				padding:15px;
				padding-left:20px;
				padding-right:20px;
				border:solid $grey 1px;
				-webkit-border-radius: 8px;
	    		-moz-border-radius: 8px;
	    		-o-border-radius: 8px;
	    		border-radius: 8px;
			}
		}

	#nav_logo {
		background:transparent url('kubmo_logo.png');
		width:214px;
		height:66px;
		text-indent:-9999px;
		margin-right:50px;
		margin-top:5px;
		margin-left:-10px;
	}

	#hero {
		background:transparent url('hero.png');
		width:1249px;
		height:470px;
		margin-top:100px;
		position:absolute;
		border-top:solid $lightest_grey 1px;

		h1 {
			@include ralewayLight();
			width:350px;
			line-height:1.5;
			margin-left:60px;
			padding-bottom:30px;
			padding-top:90px;
		}

		a {
			text-decoration:none;
			text-transform:uppercase;
			color:$ivory;
			background-color:$pink;
			font-size:16px;
			padding:15px;
			padding-left:20px;
			padding-right:20px;
			border:solid $grey 1px;
			-webkit-border-radius:8px;
			-moz-border-radius:8px;
			-o-border-radius:8px;
			border-radius:8px;
			margin-left:60px;
		}
	}

	#get_involved {
		background-color:$light_ivory;
		margin-top:570px;
		position:absolute;
		height:290px;
		width:1250px;
		border-top:solid $lightest_grey 1px;
		border-bottom:solid $lightest_grey 1px;

		a {
			text-decoration:none;
			text-transform:uppercase;
			color:$ivory;
			background-color:$pink;
			font-size:16px;
			padding:15px;
			padding-left:20px;
			padding-right:20px;
			border:solid $grey 1px;
			-webkit-border-radius:8px;
			-moz-border-radius:8px;
			-o-border-radius:8px;
			border-radius:8px;
			margin-left:60px;
		}

		p {
			position:absolute;
			display:inline-block;
			margin-top:60px;
		}

		#mentor_button {
			a {
				margin-left:60px;
				position:absolute;
				margin-top:170px;
			}

			p {
				background:transparent url('mentors_icon.png');
				text-indent:-9999px;
				width:120px;
				height:90px;
				margin-left:80px;
			}
		}

		#spread_button {
			a {
				margin-left:515px;
				position:absolute;
				margin-top:170px;
			}

			p {
				background:transparent url('spread_icon.png');
				text-indent:-9999px;
				width:100px;
				height:76px;
				margin-left:550px;
				margin-top:74px;
			}
		}

		#women_button {
			a {
				margin-left:1000px;
				position:absolute;
				margin-top:170px;
			}

			p {
				background:transparent url('phones_icon.png');
				text-indent:-9999px;
				width:68px;
				height:87px;
				margin-left:1080px;
			}
		}
	}

	#how_it_works {
		margin-top:890px;
		position:absolute;

		h1 {
			@include ralewayExtraLight();
			font-size:35px;
			margin-left:55px;
		}

		#video {
			background-color:$grey;
			width:600px;
			height:450px;
			margin-top:45px;
			margin-left:55px;
		}

		#play {
			p {
				background:transparent url('play.fw.png');
				text-indent:-9999px;
				width:100px;
				height:100px;
				position:absolute;
				margin-top:-300px;
				margin-left:300px;
			}
		}

		#the_steps {
			margin-top:-435px;

			div {
				position:relative;
				width:450px;
				margin-top:-200px;
				margin-left:760px;
				margin-bottom:230px;
			}

			h2 {
				margin-left:100px;
				@include ralewayMedium();
			}

			h3 {
				margin-left:100px;
				@include ralewayLight();
				margin-top:-10px;
				color:$light_grey;
				line-height:1.5;
			}
		}

		#workshop {
			text-indent:-9999px;
			background:transparent url('phone_small_icon.png');
			width:30px;
			height:50px;
			position:absolute;
		}

		#year_icon {
			text-indent:-9999px;
			background:transparent url('year_long_icon.png');
			width:50px;
			height:48px;
			position:absolute;
		}

		#marketplace {
			text-indent:-9999px;
			background:transparent url('marketplace_icon.png');
			width:65px;
			height:48px;
			position:absolute;
		}
	}

	#entrepreneurs {
		margin-top:1500px;
		position:absolute;
		border-top:solid $lightest_grey 1px;
		width:1250px;

		h1 {
			@include ralewayExtraLight ();
			width:1250px;
			padding-top:30px;
			margin-left:55px;
		}

		#girl_1 {
			text-indent:-9999px;
			background:transparent url('kenya_girl_2.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:28px;
			margin-left:55px;
		}

		#girl_2 {
			text-indent:-9999px;
			background:transparent url('kenya_girl_2.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:28px;
			margin-left:445px;
		}

		#girl_3 {
			text-indent:-9999px;
			background:transparent url('kenya_girl_2.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:28px;
			margin-left:835px;
		}

		#girl_4 {
			text-indent:-9999px;
			background:transparent url('kenya_girl_2.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:440px;
			margin-left:55px;
		}

		#girl_5 {
			text-indent:-9999px;
			background:transparent url('kenya_girl_2.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:440px;
			margin-left:445px;
		}

		#girl_6 {
			text-indent:-9999px;
			background:transparent url('kenya_girl_2.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:440px;
			margin-left:835px;
		}
	}

	#kubmo_team {
		margin-top:2490px;
		position:absolute;
		border-top:solid $lightest_grey 1px;
		width:1250px;

		h1 {
			@include ralewayExtraLight ();
			width:1250px;
			padding-top:30px;
			margin-left:55px;
		}

		#team_1 {
			text-indent:-9999px;
			background:transparent url('kubmo_team.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:28px;
			margin-left:55px;
		}

		#team_2 {
			text-indent:-9999px;
			background:transparent url('kubmo_team.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:28px;
			margin-left:445px;
		}

		#team_3 {
			text-indent:-9999px;
			background:transparent url('kubmo_team.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:28px;
			margin-left:835px;
		}

		#team_4 {
			text-indent:-9999px;
			background:transparent url('kubmo_team.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:440px;
			margin-left:55px;
		}

		#team_5 {
			text-indent:-9999px;
			background:transparent url('kubmo_team.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:440px;
			margin-left:445px;
		}
		
		#team_6 {
			text-indent:-9999px;
			background:transparent url('kubmo_team.png');
			width:360px;
			height:380px;
			position:absolute;
			margin-top:440px;
			margin-left:835px;
		}
	}

	#spread_the_word {
		margin-top:3480px;
		position:absolute;
		border-top:solid $lightest_grey 1px;
		width:1250px;

		h1 {
			@include ralewayExtraLight ();
			width:1250px;
			padding-top:30px;
			margin-left:55px;
		}

		#twitter {
			text-indent:-9999px;
			background:transparent url('twitter.png');
			width:55px;
			height:50px;
			position:absolute;
			margin-top:30px;
			margin-left:55px;
		}

		#facebook {
			text-indent:-9999px;
			background:transparent url('facebook.png');
			width:48px;
			height:50px;
			position:absolute;
			margin-top:30px;
			margin-left:205px;
		}

		#pinterest {
			text-indent:-9999px;
			background:transparent url('pinterest.png');
			width:48px;
			height:50px;
			position:absolute;
			margin-top:30px;
			margin-left:355px;
		}
	}

	#footer {
		margin-top:3720px;
		position:absolute;
		background-color:$ivory;
		width:1250px;
		height:220px;
		border-top:solid $lightest_grey 1px;

		h1 {
			@include ralewaySemi ();
			font-size:18px;
			text-transform:uppercase;
			color:$pink;
			margin-top:40px;
			margin-left:10px;
		}

		a {
			text-decoration:none;
			color:$grey;
			line-height:1.5;
			margin-left:10px;
		}

		li {
			list-style-type:none;
		}

		ul {
			float:left;
			margin-right:60px;
		}

		p {
			text-indent:-9999px;
			background:transparent url('circle_logo_grey.png');
			width:99px;
			height:100px;
			position:absolute;
			margin-top:48px;
			margin-left:1110px;
		}
	}
}





