/*---Global Styles---*/
$teal: #1B9792;
$grey: #2B2727;
$light_grey: #2B2727;
$blue: #a2bcbb;
$pink: #a07098;
$ivory: #F7F5ED;
$pink: #C63D96;
$light_ivory: #FFFDF7;
$lightest_grey: #dddddd;

@import 'bourbon';

@mixin raleway() { font-family: 'Raleway', sans-serif; font-weight: 400; }
@mixin ralewayLight() { font-family: 'Raleway', sans-serif; font-weight: 200; }
@mixin ralewayMedium() { font-family: 'Raleway', sans-serif; font-weight: 500; }
@mixin ralewaySemi() { font-family: 'Raleway', sans-serif; font-weight: 600; }
@mixin ralewayBold() { font-family: 'Raleway', sans-serif; font-weight: 800; }
@mixin ralewayExtraLight() { font-family: 'Raleway', sans-serif; font-weight:100; }
body { @include raleway(); min-width: 1050px; }

.body	{
	width:1249px;
	margin: 0 auto;
	border:solid $lightest_grey 1px;
	@include  box-shadow(0 0 4px 2px hsla(0, 0%, 0%, 0.30));
	background:$ivory;

	#footer {
		margin-top:4064px;
		position:absolute;
		background-color:$ivory;
		width:1250px;
		height:220px;
		border-top:solid $lightest_grey 1px;
		background:$light_ivory;
		height:230px;

		h1 {
			@include ralewaySemi ();
			font-size:18px;
			text-transform:uppercase;
			color:$pink;
			margin-top:40px;
			margin-left:10px;
		}

		a {
			text-decoration:none;
			color:$grey;
			line-height:1.5;
			margin-left:10px;
		}

		a:hover,
			a.active {
				color:$teal;
			}

			a:active {
				color:$teal;
			}

		li {
			list-style-type:none;
		}

		ul {
			float:left;
			margin-right:60px;
		}

		p {
			text-indent:-9999px;
			background:transparent url('circle_logo_grey.png');
			width:99px;
			height:100px;
			position:absolute;
			margin-top:48px;
			margin-left:1110px;
		}
	}
}