/*---Global Styles---*/
$teal: #1B9792;
$grey: #2B2727;
$light_grey: #2B2727;
$blue: #a2bcbb;
$pink: #a07098;
$ivory: #F7F5ED;
$pink: #C63D96;
$light_ivory: #FFFDF7;
$lightest_grey: #dddddd;

@import 'bourbon';

@mixin raleway() { font-family: 'Raleway', sans-serif; font-weight: 400; }
@mixin ralewayLight() { font-family: 'Raleway', sans-serif; font-weight: 200; }
@mixin ralewayMedium() { font-family: 'Raleway', sans-serif; font-weight: 500; }
@mixin ralewaySemi() { font-family: 'Raleway', sans-serif; font-weight: 600; }
@mixin ralewayBold() { font-family: 'Raleway', sans-serif; font-weight: 800; }
@mixin ralewayExtraLight() { font-family: 'Raleway', sans-serif; font-weight:100; }
body { @include raleway(); min-width: 1050px; }

.kubmo_form {
	background-color:white;
	padding-left:70px;
	padding-top:30px;
	height:3650px;

	h1 {
		@include ralewayExtraLight();
	}

	h2 {
		@include ralewayExtraLight();
		width:960px;
		line-height:1.5;
		font-size:120%;
		margin-top:20px;
	}

	.label {
		width:200px;
		height:50px;
	}

	.text_field {
		margin-top:-35px;
		margin-bottom:25px;
	}

	.text_field input {
		width:500px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
		-o-border-radius:8px;
		border-radius:8px;
		height:50px;
		border:1px solid $light_grey;
		opacity:.2;
		box-shadow:inset 0 0 3px $light_grey;
	}

	.text_field #mentor_why {
		height:300px;
	}

	#link_to_here {
		color:$teal;
		text-decoration:none;
	}

	input[type=text] {
		font-size:120%;
	}

	.submit_button input {
		text-decoration:none;
				color:$ivory;
				margin:60px 0 0 0px;
				display: block;
				background-color:$pink;
				font-size:16px;
				padding:15px;
				padding-left:20px;
				padding-right:20px;
				border:solid $grey 1px;
				-webkit-border-radius: 8px;
	    		-moz-border-radius: 8px;
	    		-o-border-radius: 8px;
	    		border-radius: 8px;
	}
}



@media screen and (max-width: 1200px) {
	.body	{
		width:100%;
		height:4290px;
	}
}

@media screen and (max-width: 768px) {
	.body	{
		width:100%;
		height:4290px;
	}
}

@media screen and (max-width: 320px) {
	.body	{
		width:100%;
		height:4290px;
	}
}