/*---Global Styles---*/
$teal: #1B9792;
$grey: #2B2727;
$light_grey: #2B2727;
$blue: #a2bcbb;
$pink: #a07098;
$ivory: #F7F5ED;
$pink: #C63D96;
$light_ivory: #FFFDF7;
$lightest_grey: #dddddd;

@import 'bourbon';

@mixin raleway() { font-family: 'Raleway', sans-serif; font-weight: 400; }
@mixin ralewayLight() { font-family: 'Raleway', sans-serif; font-weight: 200; }
@mixin ralewayMedium() { font-family: 'Raleway', sans-serif; font-weight: 500; }
@mixin ralewaySemi() { font-family: 'Raleway', sans-serif; font-weight: 600; }
@mixin ralewayBold() { font-family: 'Raleway', sans-serif; font-weight: 800; }
@mixin ralewayExtraLight() { font-family: 'Raleway', sans-serif; font-weight:100; }
body { @include raleway(); min-width: 1050px; }

.body	{
	width:1249px;
	margin: 0 auto;
	border:solid $lightest_grey 1px;
	height:3955px;
	@include  box-shadow(0 0 4px 2px hsla(0, 0%, 0%, 0.30));
	background:$ivory;

	#top_nav {
		width:1210px;
		height:130px;
		background:white;
		text-transform:uppercase;
		font-size:16px;
		position:fixed;
		z-index:900;
		margin-top:-30px;
		border-bottom:solid $lightest_grey 1px;
	}

		.main {
			list-style-type:none;
			float:left;
			
			li {
				float:left;
				list-style-type:none;
			}
			
			a {
				margin:70px 0 0 20px;
				display:block;
				text-decoration:none;
				color:black;
			}

			a:hover,
			a.active {
				color:$teal;
			}

			a:active {
				color:$teal;
			}
		}

		.line {
			margin-top:70px;
			margin-left:20px;
		}

		.donate {
			list-style-type:none;
			float:left;

			li {
				list-style-type:none;
			}

			#donate input {
				text-decoration:none;
				text-transform:uppercase;
				color:$ivory;
				margin:53px 0 0 70px;
				display: block;
				background-color:$pink;
				font-size:16px;
				padding:15px;
				padding-left:20px;
				padding-right:20px;
				border:solid $grey 1px;
				-webkit-border-radius: 8px;
	    		-moz-border-radius: 8px;
	    		-o-border-radius: 8px;
	    		border-radius: 8px;
			}
		}

	#nav_logo {
		background:transparent url('kubmo_logo.png');
		width:216px;
		height:66px;
		text-indent:-9999px;
		margin-right:60px;
		margin-top:38px;
		margin-left:-20px;
	}
}