/*---Global Styles---*/
$teal: #1B9792;
$grey: #2B2727;
$light_grey: #2B2727;
$blue: #a2bcbb;
$pink: #a07098;
$ivory: #F7F5ED;
$pink: #C63D96;
$light_ivory: #FFFDF7;
$lightest_grey: #dddddd;

@import 'bourbon';

@mixin raleway() { font-family: 'Raleway', sans-serif; font-weight: 400; }
@mixin ralewayLight() { font-family: 'Raleway', sans-serif; font-weight: 200; }
@mixin ralewayMedium() { font-family: 'Raleway', sans-serif; font-weight: 500; }
@mixin ralewaySemi() { font-family: 'Raleway', sans-serif; font-weight: 600; }
@mixin ralewayBold() { font-family: 'Raleway', sans-serif; font-weight: 800; }
@mixin ralewayExtraLight() { font-family: 'Raleway', sans-serif; font-weight:100; }
body { @include raleway(); min-width: 1050px; }

.body	{
	width:95%;
	margin: 0 auto;
	border:solid $lightest_grey 1px;
	@include  box-shadow(0 0 4px 2px hsla(0, 0%, 0%, 0.30));
	background:$ivory;

	#top_nav {
		width:92%;
		height:130px;
		background:white;
		text-transform:uppercase;
		font-size:16px;
		position:fixed;
		z-index:900;
		margin-top:-30px;
		border-bottom:solid $lightest_grey 1px;
		@include  box-shadow(0 0 4px 0px hsla(0, 0%, 0%, 0.30));
	}

		.main {
			list-style-type:none;
			float:left;
				
				a {
					display:block;
				}
			
			#navigation_links {
				margin-left:280px;
				margin-top:-107px;

				li {
					float:left;
					list-style-type:none;
				}
				
				a {
					margin:70px 0 0 20px;
					display:block;
					text-decoration:none;
					color:black;
				}

				a:hover,
				a.active {
					color:$teal;
				}

				a:active {
					color:$teal;
				}
			}
		}

		.line {
			margin-top:70px;
			margin-left:20px;
		}

		.donate {
			list-style-type:none;
			float:left;
			margin-top:55px;
			margin-left:45px;

			li {
				list-style-type:none;
			}

			#donate {
				text-decoration:none;
				text-transform:uppercase;
				color:$ivory;
				display: block;
				background-color:$pink;
				font-size:16px;
				padding:15px;
				padding-left:20px;
				padding-right:20px;
				border:solid $grey 1px;
				-webkit-border-radius: 8px;
	    		-moz-border-radius: 8px;
	    		-o-border-radius: 8px;
	    		border-radius: 8px;
			}

			#donate a {
				text-decoration:none;
				text-transform:uppercase;
				color:$ivory;
			}
		}

	#nav_logo img {
		width:216px;
		height:66px;
		margin-right:60px;
		margin-top:45px;
		margin-left:-20px;
	}
}

@media screen and (max-width: 1300px) {
	.body {	
		#top_nav {
			width:92%;
			font-size:14px;
		}

		.donate {
			margin-left:20px;
		}

		.main {
			#navigation_links {
				margin-left:240px;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.body	{
		width:100%;
		height:4290px;

		#top_nav {
			width:100%;
			font-size:14px;
		}

		.donate {
			margin-left:5px;
		}

		.main {
			#navigation_links {
				margin-left:220px;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.body {

		.donate {
			margin-left:1px;
		}

		.main {
			#navigation_links {
				margin-left:200px;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.body {	
		#top_nav {
			height:180px;
		}

		.donate {
			margin-top:110px;
			margin-left:-12px;
		}

		.main {
			#navigation_links {
				margin-left:-40px;
				margin-top:-50px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.body {	
		#top_nav {
			height:180px;
		}

		.donate {
			margin-top:55px;
			margin-left:-150px;
		}

		.main {
			#navigation_links {
				margin-left:-40px;
				margin-top:-50px;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.body {	
		#top_nav {
			width:100%;
			font-size:14px;
			height:235px;
		}

		.donate {
			margin-top:14px;
			margin-left:65px;
		}

		.main {
			#navigation_links {
				margin-top: 3px;

				li {
					margin-top:10px;
				}

				a {
					display:inline;
				}
			}
		}

		#nav_logo img {
			margin-top:35px;
			margin-left: 15px;
		}
	}
}

@media screen and (max-width: 320px) {
	.body {	
		#top_nav {
			width:100%;
			font-size:14px;
			height:235px;
		}

		.donate {
			margin-top:14px;
			margin-left:30px;
		}

		.main {
			#navigation_links {
				margin-top: 3px;
				margin-left:-70px;
			}
		}

		#nav_logo img {
			margin-top:35px;
			margin-left:0;
		}
	}
}