/*---Global Styles---*/
$teal: #1B9792;
$grey: #2B2727;
$light_grey: #2B2727;
$blue: #a2bcbb;
$pink: #a07098;
$ivory: #F7F5ED;
$pink: #C63D96;
$light_ivory: #FFFDF7;
$lightest_grey: #dddddd;

@import 'bourbon';

@mixin raleway() { font-family: 'Raleway', sans-serif; font-weight: 400; }
@mixin ralewayLight() { font-family: 'Raleway', sans-serif; font-weight: 200; }
@mixin ralewayMedium() { font-family: 'Raleway', sans-serif; font-weight: 500; }
@mixin ralewaySemi() { font-family: 'Raleway', sans-serif; font-weight: 600; }
@mixin ralewayBold() { font-family: 'Raleway', sans-serif; font-weight: 800; }
@mixin ralewayExtraLight() { font-family: 'Raleway', sans-serif; font-weight:100; }
body { @include raleway(); min-width: 1050px; }

.body	{
	width:95%;
	margin: 0 auto;
	border:solid $lightest_grey 1px;
	height:5500px;
	@include  box-shadow(0 0 4px 2px hsla(0, 0%, 0%, 0.30));
	background:$ivory;
}

@media screen and (max-width: 1200px) {
	.body	{
		width:100%;
		height:4290px;
	}
}

@media screen and (max-width: 768px) {
	.body	{
		width:100%;
		height:4290px;
	}
}

@media screen and (max-width: 320px) {
	.body	{
		width:100%;
		height:4290px;
	}
}