/*---Global Styles---*/
$teal: #1B9792;
$grey: #2B2727;
$light_grey: #2B2727;
$blue: #a2bcbb;
$pink: #a07098;
$ivory: #F7F5ED;
$pink: #C63D96;
$light_ivory: #FFFDF7;
$lightest_grey: #dddddd;

@import 'bourbon';

@mixin raleway() { font-family: 'Raleway', sans-serif; font-weight: 400; }
@mixin ralewayLight() { font-family: 'Raleway', sans-serif; font-weight: 200; }
@mixin ralewayMedium() { font-family: 'Raleway', sans-serif; font-weight: 500; }
@mixin ralewaySemi() { font-family: 'Raleway', sans-serif; font-weight: 600; }
@mixin ralewayBold() { font-family: 'Raleway', sans-serif; font-weight: 800; }
@mixin ralewayExtraLight() { font-family: 'Raleway', sans-serif; font-weight:100; }
body { @include raleway(); min-width: 1050px; }

.body	{
	width:1249px;
	margin: 0 auto;
	border:solid $lightest_grey 1px;
	@include  box-shadow(0 0 4px 2px hsla(0, 0%, 0%, 0.30));
	background:$ivory;

	#kubmo_team {
		margin-top:2455px;
		position:absolute;
		border-top:solid $lightest_grey 1px;
		width:1250px;
		background:white;
		height:1000px;

		h1 {
			@include ralewayExtraLight ();
			width:1250px;
			padding-top:20px;
			margin-left:60px;
		}

		#the_team_pics {
			margin-left:40px;

			#team_1 {
				background:transparent url('kubmo_team.png');
				width:360px;
				height:380px;
				display:inline-block;
				float:left;
				position:relative;
				margin-left:24px;
				margin-top:20px;
			}

			#team_2 {
				background:transparent url('kubmo_team.png');
				width:360px;
				height:380px;
				display:inline-block;
				float:left;
				position:relative;
				margin-left:24px;
				margin-top:20px;
			}

			#team_3 {
				background:transparent url('kubmo_team.png');
				width:360px;
				height:380px;
				display:inline-block;
				float:left;
				position:relative;
				margin-left:24px;
				margin-top:20px;
			}

			#team_4 {
				background:transparent url('kubmo_team.png');
				width:360px;
				height:380px;
				display:inline-block;
				float:left;
				position:relative;
				margin-left:24px;
				margin-top:30px;
			}

			#team_5 {
				background:transparent url('kubmo_team.png');
				width:360px;
				height:380px;
				display:inline-block;
				float:left;
				position:relative;
				margin-left:24px;
				margin-top:30px;			}
			
			#team_6 {
				background:transparent url('kubmo_team.png');
				width:360px;
				height:380px;
				display:inline-block;
				float:left;
				position:relative;
				margin-left:24px;
				margin-top:30px;
			}

			div:after {
				opacity:0;
				font-weight:bold;
				position:absolute;
				top:0px;
				left:0px;
				display:block;
				content:'Learn More';
				color:#fff;
				background:rgba(0,0,0,0.7);
				padding:175px 117px;
				@include ralewayLight();
				font-size:24px;
				-webkit-transition: opacity .3s ease-in-out;
			 	-moz-transition: opacity .3s ease-in-out;
				transition: opacity .3s ease-in-out;
			}

			div:hover:after {
				opacity:1;
			}

			#team_1 a {
				text-decoration:none;
				color:white;
				@include ralewayExtraLight();
				font-size:30px;
				margin-top:350px;
				position:absolute;
				background-color:$grey;
				padding:5px 133px 0 130px;
			}

			#team_2 a {
				text-decoration:none;
				color:white;
				@include ralewayExtraLight();
				font-size:30px;
				margin-top:350px;
				position:absolute;
				background-color:$grey;
				padding:5px 133px 0 130px;
			}

			#team_3 a {
				text-decoration:none;
				color:white;
				@include ralewayExtraLight();
				font-size:30px;
				margin-top:350px;
				position:absolute;
				background-color:$grey;
				padding:5px 133px 0 130px;
			}

			#team_4 a {
				text-decoration:none;
				color:white;
				@include ralewayExtraLight();
				font-size:30px;
				margin-top:350px;
				position:absolute;
				background-color:$grey;
				padding:5px 133px 0 130px;
			}

			#team_5 a {
				text-decoration:none;
				color:white;
				@include ralewayExtraLight();
				font-size:30px;
				margin-top:350px;
				position:absolute;
				background-color:$grey;
				padding:5px 133px 0 130px;
			}

			#team_6 a {
				text-decoration:none;
				color:white;
				@include ralewayExtraLight();
				font-size:30px;
				margin-top:350px;
				position:absolute;
				background-color:$grey;
				padding:5px 133px 0 130px;
			}
		}
	}
}